.idea
META-INF/
Manifest.java
*.iml
BuildConfig.java
R.java
out
gen
*.class
*.classpath
*.project
bin/net/sharkfw/knowledgeBase/sync/TODO
bin/
*/**/target/
target
src\test\java\net\sharkfw\knowledgeBase\persistent\sql\information.db